
.mf-collapse-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid var(--mf-border-color-light);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.mf-collapse-item-content{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    border-bottom: 1px solid var(--mf-border-color-light);
    font-size: 14px;
    line-height: 1.769230769230769;
    color: var(--mf-text-color-regular);
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;

    &.is-disabled{
        cursor: not-allowed;
    }
    
}

.mf-collapse-enter-active{
    transition: height .3s ease-out;
}
.mf-collapse-leave-active {
  transition: height .3s ease-out;
}