:root {
  /* colors */
  --mf-color-white: #ffffff;
  --mf-color-black: #000000;
  --colors: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399
  );

  @each $val, $color in var(--colors) {
    --mf-color-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --mf-color-$(val)-light-$(i): mix(#fff, $(color), .$(i))
    }
    --mf-color-$(val)-light-8: mix(#fff, $(color), .8);
    --mf-color-$(val)-dark-2: mix(#000, $(color), .2);
  }

  --mf-bg-color: #ffffff;
  --mf-bg-color-page: #f2f3f5;
  --mf-bg-color-overlay: #ffffff;
  --mf-text-color-primary: #303133;
  --mf-text-color-regular: #606266;
  --mf-text-color-secondary: #909399;
  --mf-text-color-placeholder: #a8abb2;
  --mf-text-color-disabled: #c0c4cc;
  --mf-border-color: #dcdfe6;
  --mf-border-color-light: #e4e7ed;
  --mf-border-color-lighter: #ebeef5;
  --mf-border-color-extra-light: #f2f6fc;
  --mf-border-color-dark: #d4d7de;
  --mf-border-color-darker: #cdd0d6;
  --mf-fill-color: #f0f2f5;
  --mf-fill-color-light: #f5f7fa;
  --mf-fill-color-lighter: #fafafa;
  --mf-fill-color-extra-light: #fafcff;
  --mf-fill-color-dark: #ebedf0;
  --mf-fill-color-darker: #e6e8eb;
  --mf-fill-color-blank: #ffffff;

  /* border */
  --mf-border-width: 1px;
  --mf-border-style: solid;
  --mf-border-color-hover: var(--mf-text-color-disabled);
  --mf-border: var(--mf-border-width) var(--mf-border-style) var(--mf-border-color);
  --mf-border-radius-base: 4px;
  --mf-border-radius-small: 2px;
  --mf-border-radius-round: 20px;
  --mf-border-radius-circle: 100%;

  /*font*/
  --mf-font-size-extra-large: 20px;
  --mf-font-size-large: 18px;
  --mf-font-size-medium: 16px;
  --mf-font-size-base: 14px;
  --mf-font-size-small: 13px;
  --mf-font-size-extra-small: 12px;
  --mf-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --mf-font-weight-primary: 500;

  /*disabled*/
  --mf-disabled-bg-color: var(--mf-fill-color-light);
  --mf-disabled-text-color: var(--mf-text-color-placeholder);
  --mf-disabled-border-color: var(--mf-border-color-light);
  
  /*animation*/
  --mf-transition-duration: .3s;
  --mf-transition-duration-fast: .2s;

}